# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
df.groupby('animal').age.mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [7]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.595463  0.397024  0.193453
1  0.014958  0.390555  0.954537
2  0.890911  0.409104  0.975071
3  0.537051  0.364354  0.024393
4  0.028076  0.068289  0.774854

In [12]:
#減去該欄位的平均數
mean_col=df.mean(axis=0)
print(mean_col)
print(df-mean_col)

0    0.413292
1    0.325865
2    0.584461
dtype: float64
          0         1         2
0  0.182171  0.071159 -0.391009
1 -0.398334  0.064690  0.370075
2  0.477619  0.083239  0.390609
3  0.123759  0.038489 -0.560068
4 -0.385216 -0.257576  0.190393

In [14]:
mean_row = df.mean(axis=1)
print(mean_row)
print(df-mean_row)

0    0.395313
1    0.453350
2    0.758362
3    0.308599
4    0.290406
dtype: float64
          0         1         2   3   4
0  0.200150 -0.056326 -0.564909 NaN NaN
1 -0.380355 -0.062795  0.196175 NaN NaN
2  0.495597 -0.044246  0.216709 NaN NaN
3  0.141737 -0.088996 -0.733969 NaN NaN
4 -0.367237 -0.385061  0.016492 NaN NaN

### 3. 承上題，請問：

1) 哪一筆的資料總合最小
2) 哪一欄位的資料總合最小

In [19]:
df

          0         1         2
0  0.595463  0.397024  0.193453
1  0.014958  0.390555  0.954537
2  0.890911  0.409104  0.975071
3  0.537051  0.364354  0.024393
4  0.028076  0.068289  0.774854

In [23]:
#The sum by row
print(df.sum(axis=1))

0    1.185940
1    1.360049
2    2.275086
3    0.925798
4    0.871219
dtype: float64

In [22]:
# 哪一筆的資料總合最小
print('Data number', df.sum(axis=1).idxmin(), '(5th row) ','has the smallest number after summing up.')

Data number 4 (5th row)  has the smallest number after summing up.

In [24]:
#The sum by column
df.sum(axis=0)

0    2.066458
1    1.629325
2    2.922307
dtype: float64

In [26]:
#哪一欄位的資料總合最小
print('Column name', df.sum(axis=0).idxmin(), '(2nd column) ','has the smallest number after summing up.')

Column name 1 (2nd column)  has the smallest number after summing up.