作業目標:<br>
1. 熟悉索引操作
2. 分辨合併資料方法使用時機

作業重點:<br>
1. 操作索引注意有分loc、iloc
2. 合併資料方法concat、merge、join其中有參數可以調整inner或outer

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [3]:
import pandas as pd
import numpy as np

In [4]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
df09 = pd.read_csv('./Pandas_select_merge/STOCK_DAY_0050_202009.csv')
df10 = pd.read_csv('./Pandas_select_merge/STOCK_DAY_0050_202010.csv

In [15]:
#check the characteristics of data from 202009
print(df09.head())
print('----------')
print(df09.describe())
print('----------')
print(df09.info())

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40
----------
             open        high         low       close
count   22.000000   22.000000   22.000000   22.000000
mean   103.315909  103.845455  102.713636  103.297727
std      1.523419    1.461401    1.549284    1.449259
min    100.750000  101.450000  100.050000  100.450000
25%    102.475000  103.062500  101.900000  102.550000
50%    103.000000  103.475000  102.525000  103.050000
75%    104.150000  104.487500  103.237500  104.175000
max    106.550000  107.000000  106.350000  106.550000
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    22 non-null     object
 1   open    22 non-null     float64
 2   high    22 non-null     float64
 3   low     22 non-null     float64
 4   close   22 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1008.0+ bytes
None

In [16]:
#check the characteristics of data from 202009
print(df10.head())
print('----------')
print(df10.describe())
print('----------')
print(df10.info())

        date    open    high     low   close
0  109/10/05  103.45  104.05  103.00  103.05
1  109/10/06  104.00  104.35  103.85  104.25
2  109/10/07  104.00  105.00  103.50  104.80
3  109/10/08  105.45  106.35  105.30  106.20
4  109/10/12  106.70  107.70  106.70  107.05
----------
             open        high         low       close
count   19.000000   19.000000   19.000000   19.000000
mean   105.544737  105.944737  105.015789  105.489474
std      1.191858    1.205531    1.193041    1.225037
min    103.450000  103.600000  102.700000  103.000000
25%    104.725000  105.250000  104.325000  104.900000
50%    105.700000  106.350000  105.300000  105.950000
75%    106.450000  106.600000  105.725000  106.150000
max    107.350000  107.700000  106.700000  107.100000
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    19 non-null     object
 1   open    19 non-null     float64
 2   high    19 non-null     float64
 3   low     19 non-null     float64
 4   close   19 non-null     float64
dtypes: float64(4), object(1)
memory usage: 888.0+ bytes
None

In [23]:
#The columns of the two dataframes are the same
df09.columns == df10.columns

array([ True,  True,  True,  True,  True])

In [27]:
#串聯
df_con = pd.concat([df09,df10], axis=0, join='outer')

In [ ]:
#找出open小於close的資料

In [29]:
print(df_con[df_con['open']<df_con['close']])

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00
1   109/10/06  104.00  104.35  103.85  104.25
2   109/10/07  104.00  105.00  103.50  104.80
3   109/10/08  105.45  106.35  105.30  106.20
4   109/10/12  106.70  107.70  106.70  107.05
9   109/10/19  105.65  106.60  105.60  106.60
12  109/10/22  105.70  106.10  105.50  106.10